@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7FEFF;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

section {
  padding-top: 100px;
}

// 공통클래스
.fullcontainer mx-auto px-4 {
  min-width: 320px;

  @media (min-width:32rem) {
    // 512px 이상

  }

  @media (min-width:64rem) {
    // 1024px 이상

  }
}

.bg-jay {
  background-color: #F7FEFF;
}

.h100vh {
  height: 100vh;
}

.isolate {
  isolation: isolate;
}

.pretendard {
  font-family: 'Pretendard';
}

.lexend {
  font-family: 'Lexend';
}

.playfair {
  font-family: 'Playfair Display';
}

.syncopate {
  font-family: 'Syncopate';
}

.text-stroke {
  -webkit-text-stroke: 1px #000;
}

.squareBtn:hover {
  background-color: rgb(44, 44, 44);
  color: white;
}

// 컴포넌트별
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  filter: invert(100%);
  mix-blend-mode: difference;
  opacity: 1;

  .menu {

    h1,
    button {
      z-index: 999;
    }

    .gnbdown {
      top: -100vh !important;
      transition: 0.5s;
      background-color: black;
      filter: invert(0%);
      mix-blend-mode: normal;
    }
  }

  &.down {
    .menu .gnbdown {
      top: 0 !important;
    }

    svg {
      path {
        fill: white
      }

      line {
        stroke: white;
      }
    }
  }
}

#menu {
  a {
    color: white;
  }

  .closeMenu {
    color: white;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
  }
}

#main {
  height: 100vh;
  overflow: hidden;

  .mainMenu {
    position: relative;
    z-index: 999;
  }

  .maindrawing {
    top: 48%;
    left: 50%;
    width: 75%;
    transform: translateX(-75%);
  }
}

#about {
  .title {
    img {
      left: 60%;
    }
  }

  .gauge {
    .gaugeline {
      background-color: #D9D9D9;

      .ggpercent {
        background-color: #000;
      }
    }
  }

}

#interest {
  .mySwiper {
    .swiper-wrapper {
      
    }
  }
}

#portfolio {}

#contact {
  .ctdetail {
    .social {
      .snslink {
        &:hover {
          color: #475569;
        }
        &::after {
          content: "";
          position: absolute;
          height: 1.5px;
          top: 80%;
          left: 0;
          width: 0%;
          transition: 0.5s;
          background-color: #475569;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

#form {
  color: white;
  background-color: #000;
  .MuiFormGroup-root {
    flex-flow: row wrap;
    .MuiFormControlLabel-root {
      margin: 0 0.3rem;
    }
    .MuiCheckbox-root {
      padding-top: 0;
    }
    .MuiTypography-root {
      font-family: 'Pretendard';
      font-size: 0.9rem;
      line-height: 1;
      font-weight: 400;
      margin-bottom: 0.4rem;
    } 
  }
  .MuiFormControl-root {
    .css-1v4ccyo{
      border-radius: 0;
      background-color: rgb(103, 103, 103);
      margin-top: 1rem;
      .css-1x5jdmq {
        padding: 0.8rem 1rem;
      }
      &.Mui-focused, & .on {
        background-color: white;
      }
    }
  }
  .MuiButtonBase-root.css-1b47e06 {
    font-weight: 200;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    &:hover {
      background-color: white;
      color: #000;
    }
    .MuiTouchRipple-root {
      border: 1px solid white;
    }
  }
}

#footer {}