* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a, a:hover {color: black; text-decoration: none;}

// 공통클래스
.fullcontainer{width: 1790px;}

// 컴포넌트별
#header {

}

#menu {
  
}

#main {

}

#about {

}

#interest {

}

#portfolio {

}

#contact {

}

#footer {

}